@{
    ViewData["Title"] = "Pagina de inicio";
}
<!DOCTYPE html>
<html>
<head>
    <title>Página de Inicio</title>
</head>
<body>
    <h1 style="text-align: center;">Bienvenido</h1>
    <div style="text-align: center;">
        <img src="~/imagen/img.jpg" alt="Descripción de la imagen" style="max-width: 100%; height: auto;">
    </div>
    <!-- Otro contenido de la página -->
</body>
</html>
